---
---
<section class="lede">
  <p class="dropcap">
    I built a workout app for myself. It&apos;s not done. It does what I
    wanted nothing else to do, in roughly the order I wanted to do it. If
    you ride bikes and have opinions about software, you might want a turn.
  </p>
</section>

<style>
  .lede p {
    font-size: 1.15rem;
    line-height: 1.55;
  }
</style>
